<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome To Maltilara</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                background-image: url('/assets/img/pattern.jpeg');
            }
            body,
            h1,
            h2,
            h3,
            h4,
            h5 {
                font-family: "mqtt"; font-weight: 500;
                 
            }

            .w3-third img {
                margin-bottom: -6px;
                opacity: 0.8;
                cursor: pointer
            }

            .w3-third img:hover {
                opacity: 1
            }
             
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 400px;
                margin: auto;
                text-align: center;
                font-family: arial;
              }
              
              .title {
                color: grey;
                font-size: 18px;
              }
              
              button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #7e6565;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
              }
              
              a {
                text-decoration: none;
                font-size: 22px;
                color: black;
              }
              
              button:hover, a:hover {
                opacity: 0.7;
              }
        </style>
    </head>
<body class="w3-light-grey w3-content" style="max-width:1600px">
  
  
    <!-- Sidebar -->
    <nav class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:300px;background-color:#f7d9d9be; background-image: url('/assets/img/bg.jpg');" id="mySidebar"><br>

        <div class="w3-container">
        <img src="/assets/img/logo.svg" alt="logo" class="w3-round" style="width:250px"; > 
        </div>
        <div class="w3-bar-block">
            <h3 class="w3-padding-64 w3-center"><h2  style= "font-family: Times New Roman, Times, serif; margin-left: 30px; color:#2a2e3ab8;">Welcome To</h2><h2 style= "font-family: Times New Roman, Times, serif; margin-left: 30px;color:#2a2e3ab8;" >Maltilara</h2></h3>
           <br>
           <br>
           <br>
           <br>
            <a href="javascript:void(0)" onclick="w3_close()"
             class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
            <a href="#main" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
            <a href="#galary" onclick="w3_close()" class="w3-bar-item w3-button">GALARY</a>
            <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
         




            <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left:20px; text-align:justify ;color:navy;">social media</h4> </h4>

<a href="https://www.tiktok.com/maltilara/"><img src="/assets/image/tiktok.png" alt="TikTok" style="width:32px;margin-left:20px;"></a>

<a href="https://www.instagram.com/maltilara/"><img src="/assets/image/m27.png" alt="Instagram" style="width:32px;margin-left:20px;"></a>


        </nav>
            
            <!-- Top menu on small screens -->
            <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
            <span class="w3-left w3-padding">SOME NAME</span>
            <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
            </header>
            
            <!-- Overlay effect when opening sidebar on small screens -->
            <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
            title="close side menu" id="myOverlay"></div>
            
            <!-- About section -->
            <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32"  id="main">
            
                <h4><b>About Me</b></h4>
                <img src="/assets/image/logo77.gif" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
                <div class="w3-content w3-justify" style="max-width:600px">
                    <h4>The MaltiLara</h4>
                    <p>A beautiful Abaya store offers an elegant selection
                        of traditional yet modern abayas that cater to every woman's style.
                        The store features a variety of designs, from classic black to vibrant,
                        embroidered pieces, all crafted with high-quality fabrics.
                        With attention to detail and a focus on modest fashion,
                        this store is the ultimate destination for those seeking timeless and chic abay
                    </p>
                    <p>mail: Maltilara@outlook.com</p>
                    <p>tel: +973-66838344</p>
                    <hr class="w3-opacity">
                    <h4 class="w3-padding-16">My main Account</h4>ing-small w3-center w3-grey" style="width:85%">85%</div>
                    </div>
                 
                   
<h2 style="text-align:center">My Profile Card</h2>

<div class="card">
  <img src="/assets/img/Logoo.jpeg" alt="MaltiLara" style="width:100%">
  <h1>MaltiLara</h1>
  <p class="title">Owner & Founder, Bloger,  Fashion Designer</p>

  <p>MaltiLara AbayaShop</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-instagram"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-tiktok"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>
-16">PhotB Storage</li>
                           

<iframe width="560" height="315" style= "margin-left: 400px;" src="https://www.youtube.com/embed/OXC9M3mrdmM?si=j4A3f225VrIaQAW_&amp;clip=Ugkx8qjCFsYUWEKRVtZRsJMNaHw-9Vb_-L6x&amp;clipt=EL_hBxietgs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay ></iframe>



<br>
<!-- bu <button><a href="/views/auth/sign-in" type="button" class="w3-button w3-white w3-padding-large">Sign in<--/a--><--/button! -->
                                </li>
            
            <!-- !PAGE CONTENT! -->
            <div class="w3-main" style="margin-left:300px"  id="galary">
            
            
            <!-- Push down content on small screens -->
            <div class="w3-hide-large" style="margin-top:83px"></div>
            
            <!-- Photo grid -->
            <div class="w3-row">
            <div class="w3-third">
               
                <img src="/assets/image/m16.jpg " style="width:100%" onclick="onClick(this)"
                    alt="Abaya1">
               
                    <img src="/assets/image/m18.jpg" style="width:100%" onclick="onClick(this)"
                    alt="What a beautiful scenery this sunset">
               
                    <img src="/assets/image/m17.jpg" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
            </div>
            
            <div class="w3-third">
                <img src="/assets/img/abaya-1.gif" style="width:100%" onclick="onClick(this)"
                    alt="Quiet day at the beach. Cold, but beautiful">
                <img src="/assets/image/m20.jpg" style="width:100%" onclick="onClick(this)"
                    alt="Waiting for the bus in the desert">
                <img src="/assets/image/m13.jpg" style="width:100%" onclick="onClick(this)"
                    alt="Nature again.. At its finest!">
            </div>
            
            <div class="w3-third">
                <img src="/assets/image/M19.jpg" style="width:100%" onclick="onClick(this)" alt="Canoeing again">
                <img src="/assets/image/m11.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful day!">
                <img src="/assets/image/m15.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful day!">
            </div>
            </div>
            <!-- End photo grid -->
            <!-- Pagination -->
            <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="/" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="/index2#galary" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div> </div>
            
            <!-- Modal for full size images on click-->
            <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
            </div></div>
            <!-- Contact section -->
            <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
                <div class="w3-content" style="max-width:600px">
                    <h4 class="w3-center"><b>Contact Me</b></h4>
                    <p>Do you want me to photograph you? Fill out the form and fill me in with the details :) I love meeting
                        new people!</p>
                    <form action="/action_page.php" target="_blank">
                        <div class="w3-section">
                            <label>Name</label>
                            <input class="w3-input w3-border" type="text" name="Name" required>
                        </div>
                        <div class="w3-section">
                            <label>Email</label>
                            <input class="w3-input w3-border" type="text" name="Email" required>
                        </div>
                        <div class="w3-section">
                            <label>Message</label>
                            <input class="w3-input w3-border" type="text" name="Message" required>
                        </div>
                        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
                    </form>
                </div>
            </div>
            
            <!-- Footer -->
            <footer class="w3-container w3-padding-32 w3-grey">
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <h3>INFO</h3>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                            ultricies congue gravida diam non fringilla.</p>
                    </div>
            
                    <div class="w3-third">
                        <h3>BLOG POSTS</h3>
                        <ul class="w3-ul">
                            <li class="w3-padding-16 w3-hover-black">
                                <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
                                <span class="w3-large">Lorem</span><br>
                                <span>Sed mattis nunc</span>
                            </li>
                            <li class="w3-padding-16 w3-hover-black">
                                <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                                <span class="w3-large">Ipsum</span><br>
                                <span>Praes tinci sed</span>
                            </li>
                        </ul>
                    </div>
            
                    <div class="w3-third">
                        <h3>POPULAR TAGS</h3>
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span
        
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">London</span>
                                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
                            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
                            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
                            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span
                                class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
                        </p>
                    </div>
                </div>
            </footer>
            
            <div class="w3-black w3-center w3-padding-24">Made with <a href="https://www.w3schools.com/spaces" title="spaces" target="_blank" class="w3-hover-opacity">W3Schools Spaces</a></div>
            
            
            <!-- End page content -->
            </div>
            
            <script>
                // Script to open and close sidebar
                function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }
            
            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }
            
            // Modal Image Gallery
            function onClick(element) {
                document.getElementById("img01").src = element.src;
                document.getElementById("modal01").style.display = "block";
                var captionText = document.getElementById("caption");
                captionText.innerHTML = element.alt;
            }
            
        </script>
</body>


</html>
